{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 Chrome versions",
            "last 3 Firefox versions",
            "last 3 Opera versions"
          ]
        }
      }
    ]
  ]
}