.icon-download::before {
  content: '\F186';
}

.following .icon-follow-toggle {
  color: #1da1f2;
}

.following .tweet-action:hover .icon-following,
.following .tweet-action:hover .followers-count,
.following .tweet-detail-action:hover .icon-following {
  color: #e0245e;
}

.tweet-action:hover .icon-following::before,
.tweet-detail-action:hover .icon-following::before {
  content: '\F097';
}

.icon-muted::before {
  content: '\F101';
}

.tweet-detail-actions.tweet-detail-actions {
  display: flex !important;
  padding-bottom: 8px;
}

.btd-tweet-detail-action-item .icon-blocked {
  font-size: 17px;
}

.btd-loaded[btd-hide-buttons-count='true'] .column .tweet-action > .icon {
  font-size: 16px;
}

.btd-loaded.is-narrow-columns .column .tweet-action > .icon {
  font-size: 15px !important;
}
