.icon-download::before {
  content: '\F186';
}

.icon-muted::before {
  content: '\F101';
}

.tweet-detail-actions.tweet-detail-actions {
  display: flex;
  padding-bottom: 8px;
}

.btd-loaded[btd-hide-buttons-count='true'] :matches(.like-count, .retweet-count, .reply-count) {
  display: none;
}
