.btd-loaded[btd-tweet-actions-position="right"] .js-stream-item .js-tweet-actions {
  float: right !important;
  width: auto !important;
}

.btd-loaded[btd-show-tweet-actions-on-hover="true"] .js-stream-item .js-tweet-actions a.tweet-action {
  opacity: 0 !important;
}

.btd-loaded[btd-show-tweet-actions-on-hover="true"] .js-stream-item:hover .js-tweet-actions a.tweet-action {
  opacity: 1 !important;
}