:root {
  --btd-avatar-radius: 50%;
}

:is(.tweet-avatar, .prf-img, .avatar, .compose-account) {
  border-radius: var(--btd-avatar-radius) !important;
}

:is(.tweet-avatar, .prf-img, .avatar, .compose-account) {
  border-radius: var(--btd-avatar-radius) !important;
}

.btd-loaded[btd-avatar-shape='square'] {
  --btd-avatar-radius: 4px;
}
