[btd-collapse-dms='true'] .js-stream-item:not(.is-unread) .tweet-message,
[btd-collapse-dms-read='true'] .js-stream-item .tweet-message {
  line-height: 1.6em !important;
  padding-left: 30px;

  & .tweet-header + .l-table {
    display: none !important;
  }

  & .tweet-header > .tweet-timestamp {
    margin-top: 4px !important;
  }

  & .tweet-header > .js-conversation-header > .account-link > .obj-left,
  & .tweet-header > .js-conversation-header > .account-link > .obj-left .tweet-avatar {
    width: 24px !important;
    height: 24px !important;
  }

  & .tweet-header > .js-conversation-header > .account-link > .obj-left {
    margin-left: -30px;
  }
}
