body[btd-super-dark='true'] {
  & .app-columns-container,
  & .app-content,
  & .app-content .column-panel,
  & .app-content .column,
  & .app-navigator,
  & .column-nav-item,
  & .app-header,
  & .app-title,
  & .column-options,
  & .column-options .button-tray,
  & .facet-type.is-active,
  & .app-content .stream-item,
  & .app-content .column-message,
  & .app-content .column-header,
  & .app-content .column-header-temp,
  & .btn-on-blue {
    background: black;
  }

  & .btn-on-blue:hover {
    background-color: #2b2b2b;
  }

  & .compose,
  & .old-composer-footer {
    background-color: #141414;
  }

  & .attach-compose-buttons .Button.tweet-button,
  & .attach-compose-buttons button.tweet-button,
  & .attach-compose-buttons input.tweet-button[type='button'] {
    background-color: #141414;
  }

  & .attach-compose-buttons button.tweet-button:hover {
    background-color: #141414 !important;
  }

  & .js-hide-drawer.Button.tweet-button,
  & .js-hide-drawer.Button.tweet-button:hover {
    color: white;
    background: #141414 !important;
  }
}
