/**
 * Fullscreen modal styles 
 */
#btd-fullscreen-portal-root {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9999;
}

#btd-fullscreen-portal-root.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/**
 * Override TweetDeck's modal styles.
 */

html .btd-loaded .overlay,
html .btd-loaded .ovl {
  background: rgba(0, 0, 0, 0.8);
}

.js-modal-panel.mdl.s-full.med-fullpanel {
  background: transparent;
  pointer-events: none;
  box-shadow: none;
}

.js-mediatable .js-modal-panel .js-mediaembed,
.med-tweet,
.mdl-btn-media {
  pointer-events: all;
}

/** Fix the default verified badge alignment */
.badge-verified::before {
  background-position-y: 48px;
}

/* Allow room for emoji button in composer */
.js-compose-text {
  width: calc(100% - 26px) !important;
}

/**
 * Some fixes around default dark theme
 */
html.dark .lst-modal {
  background: #15202b;
  border: 1px solid #38444d;
}

html.dark .typeahead .fullname,
html.dark .typeahead .username,
html.dark .typeahead .js-hashtag {
  color: white;
}

/* Small UI tweaks */
.app-columns {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}

.column {
  margin-right: 2px !important;
}

html.dark .stream-item {
  border-bottom-color: #10171e !important;
}

.js-media.media-grid-container + p.txt-ellipsis {
  display: none;
}

#settings-modal {
  z-index: 9999999;
}

.app-navigator > a.js-header-action:not(.is-hidden) {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.app-navigator > a.js-header-action:not(.is-hidden) > .padding-ts {
  padding-top: 0 !important;
}

p > .emoji {
  width: 1.3em !important;
  height: 1.3em !important;
  padding: 0.2em 0.05em 0 0.1em !important;
  vertical-align: text-bottom !important;
}
