/**
 * Fullscreen modal styles 
 */
#btd-fullscreen-portal-root {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9999;
}

#btd-fullscreen-portal-root.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/**
 * Override TweetDeck's modal styles.
 */

:root {
  --btd-overlay-background: rgba(0, 0, 0, 0.9);
  --btd-original-overlay-background: rgba(0, 0, 0, 0.9);
}

html .btd-loaded .overlay,
html .btd-loaded .ovl {
  background-color: var(--btd-overlay-background);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.js-modal-panel.mdl.s-full.med-fullpanel {
  background: transparent;
  pointer-events: none;
  box-shadow: none;
}

.js-mediatable .js-modal-panel {
  max-width: 80vw !important;
}

.js-mediatable .js-modal-panel .js-mediaembed,
.med-tweet,
.mdl-btn-media {
  pointer-events: all;
}

.mdl-media-prev,
.mdl-media-next {
  background: transparent !important;
  z-index: 10;

  & .icon::after {
    content: '';
    position: absolute;
    background: rgba(21, 21, 21, 0.6);
    border-radius: 50%;
    width: 42px;
    height: 42px;
    top: 0;
    left: 0;
    z-index: 0;
  }

  & .icon::before {
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

.mdl-media-next .icon::after {
  transform: translate(-22%, -20%);
}

.mdl-media-prev .icon::after {
  transform: translate(-16%, -20%);
}

.js-mediatable .js-modal-panel .med-tweet .js-tweet > :not(.tweet-footer),
.js-mediatable .js-modal-panel .med-embeditem .med-tray .media-preview-container ~ a {
  display: none;
}

.js-mediatable .js-modal-panel .med-tweet .js-tweet .tweet-footer .tweet-actions {
  display: flex;
  justify-content: space-between;
}

.js-mediatable .js-modal-panel .med-tweet .js-tweet .tweet-footer .tweet-actions a {
  color: white !important;
}

.js-mediatable .js-modal-panel .med-tweet .js-tweet .tweet-footer .tweet-actions .txt-size--12 {
  font-size: 13px !important;
  margin-left: 12px !important;
}

.js-mediatable .js-modal-panel .med-tweet .js-tweet .tweet-footer .tweet-actions .icon {
  font-size: 24px !important;
}

.js-mediatable .js-modal-panel .med-embeditem {
  bottom: 50px !important;
  top: -8px !important;
}

/** Fix the default verified badge alignment */
.badge-verified::before {
  background-position-y: 48px;
}

/* Allow room for emoji button in composer */
.js-compose-text {
  width: calc(100% - 26px) !important;
}

/**
 * Some fixes around default dark theme
 */
html.dark .lst-modal {
  background: #15202b;
  border: 1px solid #38444d;
}

html.dark .typeahead .fullname,
html.dark .typeahead .username,
html.dark .typeahead .js-hashtag {
  color: white;
}

/* Small UI tweaks */
.app-columns {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}

.column {
  margin-right: 2px !important;
}

html.dark .stream-item {
  border-bottom-color: #10171e !important;
}

.js-media.media-grid-container + p.txt-ellipsis {
  display: none;
}

.app-navigator > a.js-header-action:not(.is-hidden) {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.app-navigator > a.js-header-action:not(.is-hidden) > .padding-ts {
  padding-top: 0 !important;
}

/** 
 * Bigger emojis
 */
p > .emoji {
  width: 1.3em !important;
  height: 1.3em !important;
  padding: 0.2em 0.05em 0 0.1em !important;
  vertical-align: text-bottom !important;
}

/** Padding above cards in columns */
p.js-tweet-text + .js-card-container:not(:empty) {
  padding-top: 10px;
}

foo {
  color: hsl(60, 0.42553191489361547, 53.92156862745098);
  color: hsl(30, 13.235294117647053, 26.666666666666668);
  color: hsl(300, 9.677419354838712, 18.23529411764706);
  color: hsl(0, 0, 0.39215686274509803);
  color: hsl(0, 0, 0.39215686274509803);
  color: hsl(0, 0, 16.470588235294116);
  color: hsl(60, 16.363636363636363, 10.784313725490197);
  color: hsl(240, 9.677419354838712, 18.23529411764706);
  color: hsl(0, 0, 0.39215686274509803);
  color: hsl(0, 0, 0.39215686274509803);
  color: hsl(180, 16.363636363636363, 10.784313725490197);
  color: hsl(0, 16.363636363636363, 10.784313725490197);
}
