/**
 * This whole file is going to be embedded into Better TweetDeck as a "hotfix" file.
 *
 * Don't.
 *
 * Mess.
 *
 * Up.
 *
 * Anything.
 *
 * In.
 *
 * There.
 *
 * Please.
 *
 * Thanks :)
 */

.js-add-emojis.padding-v--9.js-add-emojis {
  padding-top: 6px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  padding-bottom: 5px !important;
}

.js-add-emojis.padding-v--9.js-add-emojis .btd-emoji-icon {
  font-size: 18px !important;
  transform: translateY(-2px);
}
