/**
 * This whole file is going to be embedded into Better TweetDeck as a "hotfix" file.
 *
 * Don't.
 *
 * Mess.
 *
 * Up.
 *
 * Anything.
 *
 * In.
 *
 * There.
 *
 * Please.
 *
 * Thanks :)
 */

.js-add-emojis.padding-v--9.js-add-emojis {
  padding-top: 6px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  padding-bottom: 5px !important;
}

.js-add-emojis.padding-v--9.js-add-emojis .btd-emoji-icon {
  font-size: 18px !important;
}

.btd__small_icns_compose
.js-add-emojis.padding-v--9.js-add-emojis
.btd-emoji-icon {
  transform: translateY(-2px);
}

/* Unset the width of the btd-column-buttons when the column is collapsed */
.btd-on .btd-column-collapsed ul.btd-column-buttons.btd-column-buttons {
  width: unset !important;
}

/* Properly set the width of the buttons on a search column
  in that case span.column-number is right before ul.btd-column-buttons so it works okay
*/
.btd-on
.js-column.column:not(.btd-column-collapsed)
span.column-number
+ ul.btd-column-buttons.btd-column-buttons {
  width: 100% !important;
}
