// hide "view conversation"
.btd-hide_view_conversation .js-stream-item-content .link-complex[rel="viewDetails"] {
	display: none;
}

// Tweet actions on the right
.btd-actions_on_right .js-stream-item .js-tweet-actions {
	float: right !important;
	width: auto !important;
}

.btd-actions_on_hover .js-stream-item .js-tweet-actions {
	opacity: 0 !important;
}

.btd-actions_on_hover .js-stream-item:hover .js-tweet-actions {
	opacity: 1 !important;
}


/* Minimal mode (Dark)  */

.btd-minimal_mode span.reply-triangle {
	display: none;
}

.btd-dark-theme.btd-minimal_mode .app-columns {
	padding: 0 6px;
	padding-left: 0;
}

.btd-dark-theme.btd-minimal_mode .js-column.column {
	margin: 0;
	border:0;
	border-right:2px solid #1C1C1C;
}

.btd-dark-theme.btd-minimal_mode .column .stream-item {
	border-bottom-color: transparent;
}

.btd-dark-theme.btd-minimal_mode .js-app-columns-container .column-header {
	background-color: #222426;
}

.btd-dark-theme.btd-minimal_mode .js-app-content {
	background-color: #222426;
}


.btd-dark-theme.btd-minimal_mode .compose {
	background-color: #444448;
}

.btd-dark-theme.btd-minimal_mode .compose .btn-on-blue {
	border-color: #787878;
	background-color: #6E6E6E;
}

.btd-dark-theme.btd-minimal_mode :-webkit-any(.btn-positive-on-blue[disabled], .btn-positive-on-blue[disabled]:hover, .btn-positive-on-blue[disabled]:active, .btn-positive-on-blue.is-disabled, .btn-positive-on-blue.is-disabled:hover, .btn-positive-on-blue.is-disabled:focus, .btn-positive-on-blue.is-disabled:active) {
	border-color: #787878;
	background-color: #6E6E6E;
	opacity: .3;
}

.btd-dark-theme.btd-minimal_mode .compose-reply-tweet {
	background-color: #E6E6E6;
}

.btd-dark-theme.btd-minimal_mode .inline-reply {
	background-color: #575757;
}

.btd-dark-theme.btd-minimal_mode .attach-compose-buttons .tweet-button {
	background-color: #444448;
}

/* Minimal mode (Light)  */

.btd-light-theme.btd-minimal_mode .app-columns {
	padding: 0 6px;
}

.btd-light-theme.btd-minimal_mode .js-column.column {
	margin: 0;
	border:0;
	border-right:2px solid #cccccc;
}

.btd-light-theme.btd-minimal_mode .column .stream-item {
	border-bottom-color: transparent;
}

.btd-light-theme.btd-minimal_mode .js-app-columns-container .column-header {
	background-color: #fcfcfc;
	border-bottom: none;
}

.btd-light-theme.btd-minimal_mode .js-app-content {
	background-color: #fcfcfc;
}
