.btd-circled_avatars {
	.avatar, .prf-img {
		border-radius: 200px;
	}

	a.js-account-item.compose-account {
		border-radius: 200px;
	}
}

.btd-name_display-username, .btd-name_display-fullname {
	.js-column .fullname + .username {
		display: none;
	}
}

.btd-yt_rm_button {
	.video-overlay.icon-with-bg-round {
		display: none;
	}
}

.btd-small_icons_compose {
	.compose-content button > span.label {
		display: none;
	}

	.compose-content button {
		width: auto !important;
	}

	.js-schedule-datepicker-holder > .popover {
		margin-left: -20px !important;
	}

	.js-tweet-type-button, .js-scheduler, .js-add-image-button {
		margin-left: 4px;
		margin-right: 4px;
	}

	.js-add-emojis, .js-tweet-type-button, .js-scheduler, .js-add-image-button {
		float: left;
	}

	.js-schedule-datepicker-holder > div > div.caret {
		left: 6%;
	}
}


.btd-only_one-thumbnails {
	.js-media-preview-container:not(:first-of-type) {
		display: none;
	}
}

.btd-no_columns_icons {
	header > i.column-type-icon.icon {
		display:none;
	}

	header > h1.column-title {
		padding-left: 10px;
	}
}

.btd-grayscale_notification_icons i.icon.activity-indicator {
	color: #737373;
}

.btd-typeahead_display_username_only {
	.typeahead strong.fullname {
		display: none;
	}

	.typeahead span.username {
		color:#222;
	}
	.typeahead .s-selected span.username {
		color:white;
	}
}


@-webkit-keyframes tweet-enter { 
	from { background-color: rgba(54, 82, 122, 1); }
	to { background-color: rgba(54, 82, 122, 0); }
}

.btd-flash_tweets {

	&.flash-mentions :-webkit-any(.column-type-interactions, .column-type-mention) .js-chirp-container > article:first-of-type { 
	    -webkit-animation-duration: 2s;
	    -webkit-animation-name: tweet-enter;
	}

	&.flash-all [class*="column-type"] .js-chirp-container > article:first-of-type { 
	   -webkit-animation-duration: 2s;
	   -webkit-animation-name: tweet-enter;
	}
} 

.btd-blurred_modals.btd-open-modal-on {
	#open-modal .med-fullpanel {
		background:transparent;
		max-width: none;
	}

	#open-modal .med-tweet {
		left: 50%;
		right: 0;
		max-width: 512px;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.ovl, .overlay {
		background-color: rgba(black,.9);
	}
}

.js-embeditem .js-mediaembed > a {
	transition: opacity .2s ease;
}

.js-embeditem:not(.is-loaded) .js-mediaembed > a {
	opacity: 0;
}

.btd-dark-theme {
  img {
    &.emoji[alt="®"],
    &.emoji[alt="©"],
    &.emoji[alt="™"] {
      -webkit-filter: #{'invert(100%)'}; // Because Sass is stupid..
    }
  }
}

@import "minimalMode";
@import "emojiPanel";
@import "emojis";

.btd-ready {
	.column-title {
		padding-left: 0;
		margin-left: 30px;
		.column-head-title, .attribution {
			width: 100%;
			display: block;
			height: 20px;
			line-height: 1;
			text-align: center;
		}

		.column-head-title {
			font-size: 16px;
			margin-top: 10px;
		}

		.attribution {
			font-size: 12px;
		}
	}
}