.btd-circled_avatars {
	.avatar, .prf-img {
		border-radius: 200px;
	}

	a.js-account-item.compose-account {
		border-radius: 200px;
	}
}

.btd-name_display-username, .btd-name_display-fullname {
	.fullname + .username {
		display: none;
	}
}

.btd-yt_rm_button {
	.video-overlay.icon-with-bg-round {
		display: none;
	}
}

.btd-small_icons_compose {
	.compose-content button > span.label {
		display: none;
	}

	.compose-content button {
		width: auto !important;
	}

	.js-schedule-datepicker-holder > div > div.caret {
		left: 27%;
	}
}


.btd-only_one-thumbnails {
	.js-media-preview-container:not(:first-of-type) {
		display: none;
	}
}

.btd-no_columns_icons {
	header > i.column-type-icon.icon {
		display:none;
	}

	header > h1.column-title {
		padding-left: 10px;
	}
}

.btd-grayscale_notification_icons i.icon.activity-indicator {
	color: #737373;
}

.btd-typeahead_display_username_only {
	.typeahead strong.fullname {
		display: none;
	}

	.typeahead span.username {
		color:#222;
	}
	.typeahead .s-selected span.username {
		color:white;
	}
} 


/* Minimal mode (Dark)  */

.btd-minimal_mode span.reply-triangle {
	display: none;
}

.btd-dark-theme.btd-minimal_mode .app-columns {
	padding: 0 6px;
}

.btd-dark-theme.btd-minimal_mode .js-column.column {
	margin: 0;
	border:0;
	border-right:2px solid #1C1C1C;
}

.btd-dark-theme.btd-minimal_mode .column .stream-item {
	border-bottom-color: transparent;
}

.btd-dark-theme.btd-minimal_mode .js-app-columns-container .column-header {
	background-color: #222426;
}

.btd-dark-theme.btd-minimal_mode .js-app-content {
	background-color: #222426;
}


.btd-dark-theme.btd-minimal_mode .compose {
	background-color: #444448;
}

.btd-dark-theme.btd-minimal_mode .compose .btn-on-blue {
	border-color: #787878;
	background-color: #6E6E6E;
}

.btd-dark-theme.btd-minimal_mode :-webkit-any(.btn-positive-on-blue[disabled], .btn-positive-on-blue[disabled]:hover, .btn-positive-on-blue[disabled]:active, .btn-positive-on-blue.is-disabled, .btn-positive-on-blue.is-disabled:hover, .btn-positive-on-blue.is-disabled:focus, .btn-positive-on-blue.is-disabled:active) {
	border-color: #787878;
	background-color: #6E6E6E;
	opacity: .3;
}

.btd-dark-theme.btd-minimal_mode .compose-reply-tweet {
	background-color: #E6E6E6;
}

.btd-dark-theme.btd-minimal_mode .inline-reply {
	background-color: #575757;
}

.btd-dark-theme.btd-minimal_mode .attach-compose-buttons .tweet-button {
	background-color: #444448;
}

/* Minimal mode (Light)  */

.btd-light-theme.btd-minimal_mode .app-columns {
	padding: 0 6px;
}

.btd-light-theme.btd-minimal_mode .js-column.column {
	margin: 0;
	border:0;
	border-right:2px solid #cccccc;
}

.btd-light-theme.btd-minimal_mode .column .stream-item {
	border-bottom-color: transparent;
}

.btd-light-theme.btd-minimal_mode .js-app-columns-container .column-header {
	background-color: #fcfcfc;
	border-bottom: none;
}

.btd-light-theme.btd-minimal_mode .js-app-content {
	background-color: #fcfcfc;
}@import "emojiPanel";
@import "emojis";