@import "normalize.css";
@import "../../../node_modules/prismjs/themes/prism.css";

:root {
  --bg-sidebar: #2b2b2b;
  --sidebar-content: #777;
  --sidebar-highlight: white;
  --link-color: #55acee;
}

body {
  font-family: BlinkMacSystemFont, "Segoe UI", 'Helvetica Neue', 'Helvetica';
  font-size: 16px;
  line-height: 1.4;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 190px;
  flex-shrink: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--bg-sidebar);
  color: var(--sidebar-content);

  display: flex;
  flex-direction: column;
  overflow: auto;
}

.sidebar .nav-flex {
  flex: 1;
  padding-left: 10px;
}

.sidebar-logo {
  color: white;
  padding-top:20px;
  padding-bottom: 10px;

  font-size: 14px;
}

.sidebar-icon {
  width: 32px;
  vertical-align: middle;
  margin-right: .5em;
  display: inline-block;
}

.sidebar-name {
  display: inline-block;
  vertical-align: middle;
}

.sidebar-version-number {
  color: color(white a(40%))
}

.sidebar-title {
  color: var(--sidebar-highlight);
  font-weight: 300;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
  margin-right: -10px;
}

.nav-item {
  text-decoration: none;
  line-height: 1.8;
  color: var(--sidebar-content);
  transition: color 300ms;
  padding: 0 20px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
}

.nav-item.-selected,
.nav-item:hover {
  color: var(--sidebar-highlight);
}

.nav-item:hover::before,
.nav-item.-selected::before {
  transform: scaleX(1);
}

.nav-item::before {
  content: '';
  height: 100%;
  width: 3px;
  background: currentColor;
  display: block;
  position: absolute;
  left: 0;
  top: 0;

  transition: transform 300ms ease;
  transform-origin: left center;
  transform: scaleX(0);
}

.content {
  flex: 1;
  background: white;
  position: relative;

  color: #383838;
  overflow: auto;
  overflow-x: hidden;
}

.content-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  padding: 20px;

  visibility: hidden;
  transition: opacity 300ms ease;
  transform: translate(-100%, -100%);
  opacity: 0;
}

.content-block.-selected {
  visibility: visible;
  transform: translate(0, 0);
  opacity: 1;
}


.section-title {
  margin: 0;
  font-weight: 400;
  padding-bottom: 5px;
  border-bottom: 1px solid #eeeeee;
}

.settings-section {
  margin: 2em 1em;
  max-width: 960px;
}

.settings-section {
  h5 {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: var(--link-color);
    transition: color 300ms ease;
  }

  a:visited {
    color: color(var(--link-color) shade(20%));
  }

  a:hover, a:active {
    color: color(var(--link-color) shade(50%));
  }

  ul, ol {
    list-style: none;
    padding-left: .7em;
    font-size: 14px;

    li {
      line-height: 1.6;
      margin: .6em 0;
    }

    input + label {
      margin-left: .5em;
    }

    label small,
    li small {
      margin-left: .4em;
      color: #ccc;
      font-size: 80%;
      font-style: normal;

      a {
        color: color(var(--link-color) saturation(0) shade(20%));
      }

      a:visited {
        color: color(var(--link-color) saturation(0) shade(20%));
      }

      a:hover, a:active {
        color: color(var(--link-color) saturation(0) shade(50%));
      }
    }
  }
}

.settings-pre {
  max-height: 20em;
}
