@import "normalize.css";
@import "../../../node_modules/prismjs/themes/prism.css";

:root {
  --bg-sidebar: #2b2b2b;
  --sidebar-content: #777;
  --sidebar-highlight: white;
  --link-color: #55acee;
}

body {
  font-family: BlinkMacSystemFont, "Segoe UI", 'Helvetica Neue', 'Helvetica';
  font-size: 16px;
  line-height: 1.4;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 210px;
  flex-shrink: 0;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  background-color: var(--bg-sidebar);
  color: var(--sidebar-content);

  display: flex;
  flex-direction: column;
  overflow: auto;
}

.sidebar .nav-flex {
  flex: 1;
  padding-left: 10px;
}

.sidebar-logo {
  color: white;
  padding-top:20px;
  padding-bottom: 10px;

  font-size: 14px;
}

.sidebar-icon {
  width: 32px;
  vertical-align: middle;
  margin-right: .5em;
  display: inline-block;
}

.sidebar-name {
  display: inline-block;
  vertical-align: middle;
}

.sidebar-version-number {
  color: color(white a(40%))
}

.sidebar-title {
  color: var(--sidebar-highlight);
  font-weight: 300;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
  margin-right: -10px;
}

.nav-item {
  text-decoration: none;
  line-height: 1.8;
  color: var(--sidebar-content);
  transition: color 300ms;
  padding: 0 20px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
}

.nav-item.-selected,
.nav-item:hover {
  color: var(--sidebar-highlight);
}

.nav-item:hover::before,
.nav-item.-selected::before {
  transform: scaleX(1);
}

.nav-item::before {
  content: '';
  height: 100%;
  width: 3px;
  background: currentColor;
  display: block;
  position: absolute;
  left: 0;
  top: 0;

  transition: transform 300ms ease;
  transform-origin: left center;
  transform: scaleX(0);
}

.content {
  flex: 1;
  background: white;
  position: relative;

  color: #383838;
}

.content-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 42px;
  background: white;
  overflow: auto;
  padding: 20px;

  visibility: hidden;
  transition: opacity 300ms ease;
  transform: translate(-100%, -100%);
  opacity: 0;
}

.content-block.-selected {
  visibility: visible;
  transform: translate(0, 0);
  opacity: 1;
}

.save-bar {
  position: absolute;
  background: white;
  border-top: 1px solid color(black a(14%));
  padding: 10px;
  box-sizing: border-box;
  /*width: calc(100% - 210px);*/
  width: 100%;
  height: 42px;
  bottom: 0;
  z-index: 9;

  color: color(black a(46%));
}

.save-button {
  float: right;
  outline: none;
  background: white;
  border: none;
  font-size: 11px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px color(black a(10%)), 0 1px 2px color(black a(20%));
}


.save-button:active {
  color: white;
  background-image: linear-gradient(#67b0fa, #3584fe);
  box-shadow: 0 0 0 1px color(black a(10%)), 0 0 1px 2px #b2d7ff, 0 1px 2px color(black a(20%));
}


.section-title {
  margin: 0;
  font-weight: 400;
  padding-bottom: 5px;
  border-bottom: 1px solid #eeeeee;
}

.settings-section {
  margin: 2em 1em;
  max-width: 960px;
}

.settings-section {
  h5 {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: var(--link-color);
    transition: color 300ms ease;
  }

  a:visited {
    color: color(var(--link-color) shade(20%));
  }

  a:hover, a:active {
    color: color(var(--link-color) shade(50%));
  }

  ul, ol {
    list-style: none;
    padding-left: .7em;
    font-size: 14px;

    ul, ol {
      padding-left: 1.4em;
    }

    li {
      line-height: 1.6;
      margin: .6em 0;
    }

    input + label {
      margin-left: .5em;
    }

    img.favicon-icon {
      vertical-align: middle;
    }

    label.left-label {
      margin-right: .4em;
      min-width: 50px;
      text-align: right;
      display: inline-block;
    }

    label small,
    li small {
      margin-left: .4em;
      color: #ccc;
      font-size: 80%;
      font-style: normal;

      a {
        color: color(var(--link-color) saturation(0) shade(20%));
      }

      a:visited {
        color: color(var(--link-color) saturation(0) shade(20%));
      }

      a:hover, a:active {
        color: color(var(--link-color) saturation(0) shade(50%));
      }
    }
  }
}

.tweet-preview {
  width: 400px;
  height: 97px;
  border-radius: 6px;
  background: pink;
  position: relative;
}

.tweet-preview.-name-time {
  background-image: url('/options/img/name-time-bg.png');
  font-family: Helvetica, Arial, Verdana, sans-serif;
  background-repeat: no-repeat;
  background-color: #1d1f21;

  .username {
    font-size: 14px;
    color: white;
    font-weight: bold;
    position: absolute;

    top: 30px;
    left: 69px;

    em {
      color: #969696;
      font-style: normal;
      font-size: 12px;
      font-weight: normal;
    }
  }

  .date {
    font-size: 12px;
    color: #969696;
    position: absolute;

    top: 31px;
    right: 10px;
  }
}
