.sidebar {
  width: var(--sidebar-width);
  flex-shrink: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--bg-sidebar);
  color: var(--sidebar-content);
  display: flex;
  flex-direction: column;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
}

.sidebar .nav-flex {
  flex: 1;
  padding-left: 10px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
  margin-right: -10px;
}

.nav-item {
  text-decoration: none;
  line-height: 1.8;
  color: var(--sidebar-content);
  transition: color 300ms;
  padding: 0 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
}

.nav-item.-selected,
.nav-item:hover {
  color: var(--sidebar-highlight);
}

.nav-item:hover::before,
.nav-item.-selected::before {
  transform: scaleX(1);
}

.nav-item::before {
  content: '';
  height: 100%;
  width: 3px;
  background: currentColor;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 300ms ease;
  transform-origin: left center;
  transform: scaleX(0);
}
