span.token {
  padding: 2px 6px 3px;
  border-radius: 4px;
  color: white;
  font-size: 90%;
  text-transform: uppercase;
  text-shadow: 0 1px 1px color(black a(0.6));
  box-shadow: inset 0 -2px 0 rgba(0,0,0,0.2);
  background-image: linear-gradient(transparent, color(black a(.2)));
}

span.token.-meta {
  background-color: hsl(196, 99%, 60%);
}

span.token.-feature {
  background-color: hsl(108, 99%, 40%);
}

span.token.-bugfix {
  background-color: hsl(136, 0%, 50%);
}

span.token.-improvement {
  background-color: hsl(47, 99%, 60%);
}

.settings-dump .token {
  text-transform: initial;
  background-image: none;
  box-shadow: none;
  padding: 0;
  text-shadow: none;
}
