/**
 * 
 * Fullscreen modal styles 
 *
 */
#btd-fullscreen-portal-root {
  background: rgba(0, 0, 0, .8);
  color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9999;
}

#btd-fullscreen-portal-root.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btd-fullscreen-portal-target {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

#fullscreen-modal-content {
  max-width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: pink;
}