/**
 * 
 * Fullscreen modal styles 
 *
 */
#btd-fullscreen-portal-root {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9999;
}

#btd-fullscreen-portal-root.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/**
 * Override TweetDeck's modal styles.
 */

html .btd-loaded .overlay,
html .btd-loaded .ovl {
  background: rgba(0, 0, 0, 0.8);
}

.js-modal-panel.mdl.s-full.med-fullpanel {
  background: transparent;
  pointer-events: none;
  box-shadow: none;
}

.js-mediatable .js-modal-panel .js-mediaembed,
.med-tweet,
.mdl-btn-media {
  pointer-events: all;
}

/** Fix the default verified badge alignment */
.badge-verified::before {
  background-position-y: 48px;
}

.js-compose-text {
  width: calc(100% - 26px) !important;
}
