.btd__collapse_dms .tweet-message .l-table {
  display: none !important;
}

.btd__collapse_dms .tweet-message .tweet-avatar,
.btd__collapse_dms .tweet-message .tweet-img {
  width: 24px !important;
  height: 24px !important;
}

.btd__collapse_dms .tweet-message .tweet-img.btd-is-verified:before {
  transform: scale(.8);
  bottom: -8px !important;
}
  
.btd__collapse_dms .is-unread .tweet-message .l-table {
  display: table !important;
  vertical-align: middle;
}
  
.btd__collapse_dms .tweet-message .conversation-indicator {
  display: none;
}

.btd__collapse_dms .tweet-message .nbfc {
  margin-left: -25px;
  line-height: 1.6em; 	
}

.btd__collapse_dms .tweet-message .nbfc .account-link {
  margin-top: 3px;
}

.btd__collapse_dms .tweet-message .tweet-timestamp {
  margin-top: 3px;
}

.btd__collapse_dms .tweet-message .tweet-text {
  margin-left: -24px;	
}