.btd__collapse_dms .tweet-message .l-table {
  display: none !important;
}

.btd__collapse_dms .tweet-message .tweet-avatar {
  width: 24px;
  height: 24px;
}
  
.btd__collapse_dms .is-unread .tweet-message .l-table {
  display: table !important;
  vertical-align: middle;
}
  
.btd__collapse_dms .tweet-message .conversation-indicator {
  display: none;
}

.btd__collapse_dms .tweet-message .nbfc {
  margin-left: -25px;
  line-height: 1.6em; 	
}

.btd__collapse_dms .tweet-message .tweet-text {
  margin-left: -24px;	
}