html.dark.btd-on.btd-og-dark a {
  color: #8bd;
}

html.dark.btd-on.btd-og-dark a:hover,
html.dark.btd-on.btd-og-dark a:focus,
html.dark.btd-on.btd-og-dark a:active {
  color: #8bd;
}

html.dark.btd-on.btd-og-dark .txt-twitter-white {
  color: #fff;
}

html.dark.btd-on.btd-og-dark .link-hover-override:hover .link-hover-target {
  color: #8bd;
}

html.dark.btd-on.btd-og-dark .scroll-conversation {
  background: #292f33;
}

html.dark.btd-on.btd-og-dark .dark-border {
  border: 1px solid #292f33;
}

html.dark.btd-on.btd-og-dark .dark-border-top {
  border-top: 1px solid #292f33;
}

html.dark.btd-on.btd-og-dark .btn-compose {
  color: #fff;
  border-color: transparent;
  background-color: #2b7bb9;
  box-shadow: none;
}

html.dark.btd-on.btd-og-dark .btn-compose:hover {
  color: #fff;
  background-color: #2b7bb9;
  border-color: transparent;
}

html.dark.btd-on.btd-og-dark .btn-compose:focus {
  color: #fff;
  background-color: #2b7bb9;
  border-color: transparent;
  box-shadow: none;
}

html.dark.btd-on.btd-og-dark .btn-compose:active,
html.dark.btd-on.btd-og-dark .btn-compose.is-selected {
  color: #fff;
  background-color: #2b7bb9;
  border-color: transparent;
}

html.dark.btd-on.btd-og-dark .btn-on-blue {
  color: #fff;
  border-color: transparent;
  background-color: #66757f;
}

html.dark.btd-on.btd-og-dark .btn-on-blue:hover {
  color: #fff;
  border-color: transparent;
  background-color: #66757f;
}

html.dark.btd-on.btd-og-dark .btn-on-blue:focus {
  color: #fff;
  border-color: transparent;
  background-color: #66757f;
  box-shadow: 0 0 2px 3px #50a5e6;
  outline: 0;
}

html.dark.btd-on.btd-og-dark .btn-on-blue:active,
html.dark.btd-on.btd-og-dark .btn-on-blue.is-selected {
  color: #fff;
  border-color: transparent;
  background-color: #434c51;
}

html.dark.btd-on.btd-og-dark .btn-neutral-positive {
  color: #8bd;
}

html.dark.btd-on.btd-og-dark .btn-neutral-positive:hover,
html.dark.btd-on.btd-og-dark .btn-neutral-positive:focus {
  color: #8bd;
}

html.dark.btd-on.btd-og-dark .btn-neutral-positive[disabled],
html.dark.btd-on.btd-og-dark .btn-neutral-positive[disabled]:hover,
html.dark.btd-on.btd-og-dark .btn-neutral-positive[disabled]:active,
html.dark.btd-on.btd-og-dark .btn-neutral-positive.is-disabled,
html.dark.btd-on.btd-og-dark .btn-neutral-positive.is-disabled:hover,
html.dark.btd-on.btd-og-dark .btn-neutral-positive.is-disabled:focus,
html.dark.btd-on.btd-og-dark .btn-neutral-positive.is-disabled:active {
  color: #8bd;
}

html.dark.btd-on.btd-og-dark .btn-options-tray:hover,
html.dark.btd-on.btd-og-dark .btn-options-tray:focus {
  color: #8bd;
}

html.dark.btd-on.btd-og-dark .btn-options-tray[disabled],
html.dark.btd-on.btd-og-dark .btn-options-tray[disabled]:hover,
html.dark.btd-on.btd-og-dark .btn-options-tray[disabled]:active,
html.dark.btd-on.btd-og-dark .btn-options-tray.is-disabled,
html.dark.btd-on.btd-og-dark .btn-options-tray.is-disabled:hover,
html.dark.btd-on.btd-og-dark .btn-options-tray.is-disabled:focus,
html.dark.btd-on.btd-og-dark .btn-options-tray.is-disabled:active {
  color: #8bd;
}

html.dark.btd-on.btd-og-dark .btn-bg-positive {
  background-color: rgba(102, 117, 127, 0.5);
}

html.dark.btd-on.btd-og-dark .btn-bg-positive:hover,
html.dark.btd-on.btd-og-dark .btn-bg-positive:focus {
  background-color: rgba(102, 117, 127, 0.5);
}

html.dark.btd-on.btd-og-dark .btn-bg-positive[disabled],
html.dark.btd-on.btd-og-dark .btn-bg-positive[disabled]:hover,
html.dark.btd-on.btd-og-dark .btn-bg-positive[disabled]:active,
html.dark.btd-on.btd-og-dark .btn-bg-positive.is-disabled,
html.dark.btd-on.btd-og-dark .btn-bg-positive.is-disabled:hover,
html.dark.btd-on.btd-og-dark .btn-bg-positive.is-disabled:focus,
html.dark.btd-on.btd-og-dark .btn-bg-positive.is-disabled:active {
  background-color: rgba(102, 117, 127, 0.5);
}

html.dark.btd-on.btd-og-dark .column {
  background-color: #222426;
}

html.dark.btd-on.btd-og-dark .column-type-scheduled {
  background-color: #292f33;
}

html.dark.btd-on.btd-og-dark .column-header,
html.dark.btd-on.btd-og-dark .column-header-temp {
  background-color: #292f33;
}

html.dark.btd-on.btd-og-dark .column-header {
  border-bottom: 1px solid #222426;
}

html.dark.btd-on.btd-og-dark .column-title-edit-box {
  background-color: #14171a;
}

html.dark.btd-on.btd-og-dark .column-header-link {
  color: #66757f;
}

html.dark.btd-on.btd-og-dark .is-options-open .column-settings-link {
  background-color: #292f33;
  color: #8bd;
  border-color: #222426;
}

html.dark.btd-on.btd-og-dark .is-options-open .column-settings-link:hover {
  color: #8bd;
}

html.dark.btd-on.btd-og-dark .column-message {
  background-color: #292f33;
}

html.dark.btd-on.btd-og-dark .edit-conversation-name {
  border-bottom: 1px solid #222426;
}

html.dark.btd-on.btd-og-dark .column-options {
  background-color: #292f33;
}

html.dark.btd-on.btd-og-dark .with-column-divider-bottom {
  border-bottom: 1px solid #292f33;
}

html.dark.btd-on.btd-og-dark .column-options .button-tray {
  background-color: #292f33;
}

html.dark.btd-on.btd-og-dark .stream-item {
  border-bottom: 1px solid #292f33;
  background-color: #222426;
}

html.dark.btd-on.btd-og-dark .gap-chirp {
  background-color: #14171a;
}

html.dark.btd-on.btd-og-dark .gap-chirp:hover .gap-chirp-text--with-size,
html.dark.btd-on.btd-og-dark .gap-chirp:active .gap-chirp-text--with-size {
  background: #1f2428;
}

html.dark.btd-on.btd-og-dark .thread {
  background-color: #3a3d42;
}

html.dark.btd-on.btd-og-dark .account-link {
  color: #e1e8ed;
}

html.dark.btd-on.btd-og-dark .media-badge {
  border: 1px solid #292f33;
  color: #999;
}

html.dark.btd-on.btd-og-dark .chirp-container .stream-item:not(:hover):not(.is-selected-tweet) .tweet-action,
html.dark.btd-on.btd-og-dark .chirp-container .stream-item:not(:hover):not(.is-selected-tweet) .tweet-detail-action,
html.dark.btd-on.btd-og-dark .chirp-container .stream-item:not(:hover):not(.is-selected-tweet) .dm-action {
  color: #657786;
}

html.dark.btd-on.btd-og-dark .is-inverted-dark .quoted-tweet {
  border-color: #e1e8ed;
  color: #66757f;
}

html.dark.btd-on.btd-og-dark .in-tweet-divider::before {
  background: #292f33;
}

html.dark.btd-on.btd-og-dark .quoted-tweet {
  border-color: #292f33;
  color: #999;
}

html.dark.btd-on.btd-og-dark .tweet-detail-wrapper {
  background: #222426;
}

html.dark.btd-on.btd-og-dark .tweet-stats {
  border-top: 1px solid #292f33;
}

.is-actionable:hover html.dark.btd-on.btd-og-dark .stat-word {
  color: #8bd;
}

html.dark.btd-on.btd-og-dark .tweet-detail-actions {
  border-top: 1px solid #292f33;
}

html.dark.btd-on.btd-og-dark .conversation-more {
  padding-left: 68px;
  color: #8bd;
}

html.dark.btd-on.btd-og-dark .social-proof-for-tweet-title {
  background-color: #292f33;
  color: #8899a6;
  border-bottom: 1px solid #292f33;
}

html.dark.btd-on.btd-og-dark .is-unread {
  background: #485865;
}

html.dark.btd-on.btd-og-dark .is-unread .txt-mute,
html.dark.btd-on.btd-og-dark .is-unread .conversation-indicator {
  color: #e1e8ed;
}

html.dark.btd-on.btd-og-dark .is-unread .txt-mute,
html.dark.btd-on.btd-og-dark .is-unread .conversation-indicator {
  color: #e1e8ed;
}

html.dark.btd-on.btd-og-dark .conversation-event {
  border-bottom: none;
  background-color: #292f33;
}

html.dark.btd-on.btd-og-dark .conversation-event + .stream-item:not(.conversation-event),
html.dark.btd-on.btd-og-dark .conversation-event:first-child {
  border-top: 1px solid #292f33;
}

html.dark.btd-on.btd-og-dark .add-participant {
  color: inherit;
  background-color: #292f33;
}

html.dark.btd-on.btd-og-dark .rpl {
  border-bottom: #292f33;
}

html.dark.btd-on.btd-og-dark .rpl textarea {
  border: 1px solid #292f33;
  background: #fff;
  box-shadow: inset 0 1px 1px rgba(17, 17, 17, 0.5);
}

html.dark.btd-on.btd-og-dark .app-header {
  background-color: #292f33;
}

html.dark.btd-on.btd-og-dark .app-title {
  background-color: #292f33;
}

html.dark.btd-on.btd-og-dark .app-content {
  background-color: #14171a;
}

html.dark.btd-on.btd-og-dark .app-columns-container {
  background-color: #14171a;
}

html.dark.btd-on.btd-og-dark .app-navigator {
  background-color: #292f33;
}

html.dark.btd-on.btd-og-dark .app-nav-link {
  color: #8899a6;
}

html.dark.btd-on.btd-og-dark .app-nav-link:focus,
html.dark.btd-on.btd-og-dark .app-nav-link:active {
  color: #8899a6;
}

html.dark.btd-on.btd-og-dark .app-nav-link.is-selected,
html.dark.btd-on.btd-og-dark .app-nav-link:hover {
  color: #fff;
}

html.dark.btd-on.btd-og-dark .app-nav-tab {
  color: #8899a6;
}

html.dark.btd-on.btd-og-dark .app-nav-tab:hover {
  color: #fff;
}

html.dark.btd-on.btd-og-dark .app-nav-tab.is-selected {
  color: #292f33;
}

html.dark.btd-on.btd-og-dark .attach-compose-buttons .tweet-button {
  background-color: #485865;
  box-shadow: none;
}

html.dark.btd-on.btd-og-dark .with-nav-border-t::before {
  border-top: 1px solid #777;
}

html.dark.btd-on.btd-og-dark .app-search-input,
html.dark.btd-on.btd-og-dark .app-search-fake {
  background-color: #14171a;
  color: #aab8c2;
  box-shadow: inset 0 1px 1px rgba(17, 17, 17, 0.5);
}

html.dark.btd-on.btd-og-dark .app-search-input::-webkit-input-placeholder {
  color: #aab8c2;
}

html.dark.btd-on.btd-og-dark .app-search-input::-moz-placeholder {
  color: #aab8c2;
}

html.dark.btd-on.btd-og-dark .app-search-input:-ms-input-placeholder {
  color: #aab8c2;
}

html.dark.btd-on.btd-og-dark .app-search-input::placeholder {
  color: #aab8c2;
}

html.dark.btd-on.btd-og-dark .app-search-input:focus,
html.dark.btd-on.btd-og-dark .app-search-input.is-focused {
  box-shadow: none;
  border: 1px solid #292f33;
  color: #292f33;
  background-color: #fff;
}

html.dark.btd-on.btd-og-dark .app-search-fake {
  color: #777;
}

html.dark.btd-on.btd-og-dark .app-search-button {
  color: #aab8c2;
}

html.dark.btd-on.btd-og-dark .app-search-button:hover {
  color: #aab8c2;
}

html.dark.btd-on.btd-og-dark .accordion-divider-t {
  border-top: 1px solid #292f33;
}

html.dark.btd-on.btd-og-dark .facet-type {
  border-bottom: 1px solid #292f33;
}

html.dark.btd-on.btd-og-dark .facet-type-thumb-size {
  border-top: 1px solid #292f33;
  border-bottom: none;
}

html.dark.btd-on.btd-og-dark .facet-type.is-active {
  background-color: rgba(136, 153, 166, 0.2);
}

html.dark.btd-on.btd-og-dark .facet-subtitle {
  color: #8bd;
}

html.dark.btd-on.btd-og-dark .numbered-badge-onheader {
  border: 2px solid #292f33;
}

html.dark.btd-on.btd-og-dark .numbered-badge-onnav {
  border: 2px solid #292f33;
}

html.dark.btd-on.btd-og-dark .dataminr {
  background-color: #292f33;
}

html.dark.btd-on.btd-og-dark .is-dataminr-tweet {
  background-color: #444448;
}

html.dark.btd-on.btd-og-dark .dataminr-separator {
  border-bottom: 2px solid #444448;
}

html.dark.btd-on.btd-og-dark .other-replies-link,
html.dark.btd-on.btd-og-dark .other-replies-link:hover {
  color: #8bd;
}

html.dark.btd-on.btd-og-dark .cmp-replyto {
  background-color: #eaeaea;
  border-top: 1px solid #ddd;
}

html.dark.btd-on.btd-og-dark .inline-reply {
  background-color: #485865;
}

html.dark.btd-on.btd-og-dark .reply-triangle {
  border-color: transparent transparent #485865;
}

html.dark.btd-on.btd-og-dark .detail-view-inline-text {
  border: 1px solid #ccd6dd;
  background-color: #fff;
  color: #8899a6;
}

html.dark.btd-on.btd-og-dark .med-link {
  color: #8bd;
}

html.dark.btd-on.btd-og-dark .med-origlink,
html.dark.btd-on.btd-og-dark .med-flaglink {
  color: #8bd;
}

html.dark.btd-on.btd-og-dark .med-origlink:hover,
html.dark.btd-on.btd-og-dark .med-flaglink:hover {
  color: #8bd;
}

html.dark.btd-on.btd-og-dark .toggle-item.is-selected {
  color: #e1e8ed;
}

html.dark.btd-on.btd-og-dark .toggle-item {
  color: #8bd;
}

html.dark.btd-on.btd-og-dark #caldays span {
  color: #292f33;
}

html.dark.btd-on.btd-og-dark #calcurrent {
  background-color: #50a5e6;
  color: #292f33;
}

html.dark.btd-on.btd-og-dark .cal {
  color: #e1e8ed;
}

html.dark.btd-on.btd-og-dark .cal {
  color: #e1e8ed;
}

html.dark.btd-on.btd-og-dark .detail-group {
  border-bottom: #292f33;
}

html.dark.btd-on.btd-og-dark .compose {
  background-color: #485865;
  color: #fff;
}

html.dark.btd-on.btd-og-dark .column-nav-link {
  color: #f5f8fa;
}

html.dark.btd-on.btd-og-dark .column-nav-link:focus,
html.dark.btd-on.btd-og-dark .column-nav-link:active {
  color: #f5f8fa;
}

html.dark.btd-on.btd-og-dark .column-nav-item {
  color: #e1e8ed;
  background-color: #292f33;
}

html.dark.btd-on.btd-og-dark .nav-user-info .fullname {
  color: #f5f8fa;
}

html.dark.btd-on.btd-og-dark .app-search-fake {
  border-color: transparent;
}
