html.btd-on {
  .btd__no_scrollbars {
    .js-column-scroller {
      overflow-y: hidden;
    }

    .js-detail-container {
      overflow-y: hidden;
    }
  }

  .btd__minimal_mode.btd__no_scrollbars {
    .scroll-styled-v::-webkit-scrollbar-track,
    .scroll-styled-h::-webkit-scrollbar-track {
      border-left: 0;
    }

    .scroll-styled-h::-webkit-scrollbar {
      height: 0;
    }

    .needs-scroll-bottom-offset.scroll-styled-h {
      bottom: 0;
    }
  }
}
