html.btd-on.is-blink {
  .btd__no_scrollbars {
    .js-column-scroller {
      overflow-y: hidden;
    }

    .js-detail-container {
      overflow-y: hidden;
    }
  }

  .btd__minimal_mode.btd__no_scrollbars {
    .scroll-styled-v::-webkit-scrollbar-track,
    .scroll-styled-h::-webkit-scrollbar-track {
      border-left: 0;
    }

    .scroll-styled-h::-webkit-scrollbar {
      height: 0;
    }

    .needs-scroll-bottom-offset.scroll-styled-h {
      bottom: 0;
    }
  }
}

html.btd-on.is-firefox .btd__no_scrollbars .column-scroller {
  overflow-y: scroll !important;
  margin-right: -17px !important;
  padding-right: 10px !important;
}
