/* test */
:root {
  --dark-gray: #141d26;
  --border-color: #000;
  --dimmed-black: #111922;
  --gray: #1b2836;
  --link-color: #1b95e0;
  --dimmed-gray: #8899a6;
  --dark-blue: #1b3247;
  --darker-blue: #182430;
}

html.dark.btd-on .btd__night_mode {
  color: #fff;

  .app-content,
  .social-proof-for-tweet-title,
  .column-options,
  .column-options .button-tray,
  .scroll-styled-v::-webkit-scrollbar-thumb,
  .scroll-styled-h::-webkit-scrollbar-thumb,
  .scroll-styled-v::-webkit-scrollbar-thumb:hover,
  .scroll-styled-h::-webkit-scrollbar-thumb:hover,
  .is-options-open .column-settings-link {
    background-color: var(--dark-gray);
  }

  .column,
  .column-header,
  .scroll-conversation,
  .stream-item,
  .mdl-column-rhs {
    background-color: var(--gray);
  }

  .is-new .column-type-icon,
  .facet-subtitle,
  .is-options-open .column-settings-link {
    color: var(--link-color);
  }

  &:not(.btd__minimal_mode) .stream-item {
    border-bottom: 1px solid var(--border-color);
  }

  .quoted-tweet,
  .mdl-content,
  .mdl-column-rhs,
  .column-header-temp,
  .s-minimal .mdl-header {
    border-color: var(--border-color);
  }

  .btn-compose {
    background-color: var(--link-color);
  }

  .compose,
  .attach-compose-buttons .tweet-button {
    background-color: var(--dark-blue);
  }

  .btn-on-blue,
  .btn-on-blue:hover {
    background-color: var(--dimmed-gray);
    color: white;
  }

  .btn:not(.tweet-button, .btn-positive):hover,
  .follow-btn:hover,
  .js-user-actions-menu:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .compose-header {
    border-color: rgba(255, 255, 255, 0.1);
  }

  .app-header,
  .column-nav-item,
  .app-title,
  .app-navigator {
    background-color: var(--darker-blue);
  }

  .tweet-text a:any-link,
  .tweet-text a:active,
  .tweet-text a:hover,
  .med-origlink:hover,
  .med-flaglink:hover,
  .med-flaglink,
  .med-origlink,
  .btn-neutral-positive,
  .btn-neutral-positive:hover,
  .column-nav-updates {
    color: var(--link-color);
  }

  a.account-link {
    color: #fff;
  }

  .more-tweets-glow {
    background: radial-gradient(ellipse farthest-corner at 50% 100%, #1b95e0 0%, #1b95e0 25%, rgba(255, 255, 255, 0) 75%);
  }

  .scroll-styled-v::-webkit-scrollbar-track,
  .scroll-styled-h::-webkit-scrollbar-track {
    border-left: 1px solid #000;
  }

  .prf-meta {
    border-top: 0;
    background-color: var(--dark-blue);
  }

  .prf-stats li + li a {
    border-left: 0;
  }

  .prf-stats a strong {
    color: var(--link-color);
  }

  .prf-stats a:hover {
    color: var(--link-color);
  }

  .social-proof-container {
    background-color: var(--darker-blue);
  }

  .mdl {
    background-color: var(--dark-blue);
  }

  .prf .lst-profile a {
    border-right: 0;
  }

  .prf .lst-profile span,
  .prf .lst-profile i {
    color: currentColor;
  }

  .lst-profile a {
    color: var(--dimmed-gray);
  }

  .lst-profile a:hover,
  .lst-profile a:focus,
  .lst-profile a:active {
    color: var(--link-color);
  }

  .mdl-column-med {
    background-color: var(--darker-blue);
  }

  .list-account,
  .list-account:hover {
    color: var(--dimmed-gray);
    text-shadow: none;
  }

  .list-account .fullname {
    color: inherit;
  }

  .list-link:hover:hover,
  .list-twitter-list:hover:hover,
  .list-subtitle:hover:hover,
  .list-account:hover:hover,
  .list-listmember:hover:hover,
  .list-link:hover:focus,
  .list-twitter-list:hover:focus,
  .list-subtitle:hover:focus,
  .list-account:hover:focus,
  .list-listmember:hover:focus,
  .list-link:hover:active,
  .list-twitter-list:hover:active,
  .list-subtitle:hover:active,
  .list-account:hover:active,
  .list-listmember:hover:active,
  .list-account:hover:hover,
  .list-account:hover:focus,
  .list-account:hover:active,
  .list-listaccount:hover:hover,
  .list-listaccount:hover:focus,
  .list-listaccount:hover:active,
  .list-subtitle:hover:hover,
  .list-subtitle:hover:focus,
  .list-subtitle:hover:active {
    background-color: var(--dark-gray);
  }

  .lst-launcher a:hover,
  .lst-launcher a:focus,
  .lst-launcher a:active,
  .lst-launcher .top-row {
    border-color: var(--border-color);
  }

  .lst-launcher .is-disabled a,
  .lst-launcher .is-disabled a:hover,
  .lst-launcher .is-disabled a:focus,
  .lst-launcher .is-disabled a:active {
    background: unset;
  }

  .lst-launcher a span {
    color: white;
  }

}
