/* test */
:root {
  --dark-gray: #141d26;
  --border-color: #000;
  --gray: #1b2836;
  --link-color: #1b95e0;
  --dimmed-gray: #8899a6;
  --dark-blue: #1b3247;
  --darker-blue: #182430;
}

html.dark.btd-on .btd__night_mode {
  color: #fff;

  .app-content,
  .social-proof-for-tweet-title,
  .column-options,
  .column-options .button-tray,
  .scroll-styled-v::-webkit-scrollbar-thumb,
  .scroll-styled-h::-webkit-scrollbar-thumb,
  .scroll-styled-v::-webkit-scrollbar-thumb:hover,
  .scroll-styled-h::-webkit-scrollbar-thumb:hover,
  .is-options-open .column-settings-link {
    background-color: var(--dark-gray);
  }

  .column,
  .column-header,
  .scroll-conversation,
  .stream-item {
    background-color: var(--gray);
  }

  .is-new .column-type-icon,
  .facet-subtitle,
  .is-options-open .column-settings-link {
    color: var(--link-color);
  }

  &:not(.btd__minimal_mode) .stream-item {
    border-bottom: 1px solid var(--border-color);
  }

  .quoted-tweet {
    border-color: var(--border-color);
  }

  .btn-compose {
    background-color: var(--link-color);
  }

  .compose,
  .attach-compose-buttons .tweet-button {
    background-color: var(--dark-blue);
  }

  .btn-on-blue {
    background-color: transparent;
    border: 0;
    box-shadow: inset 0 0 0 1px currentColor;
    color: color(var(--dimmed-gray) shade(10));

  }

  .btn-on-blue:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }


  .app-header,
  .column-nav-item,
  .app-title,
  .app-navigator {
    background-color: var(--darker-blue);
  }

  .tweet-text a:any-link,
  .tweet-text a:active,
  .tweet-text a:hover,
  .med-origlink:hover,
  .med-flaglink:hover,
  .med-flaglink,
  .med-origlink,
  .btn-neutral-positive,
  .btn-neutral-positive:hover,
  .column-nav-updates {
    color: var(--link-color);
  }

  a.account-link {
    color: #fff;
  }

  .more-tweets-glow {
    background: radial-gradient(ellipse farthest-corner at 50% 100%, #1b95e0 0%, #1b95e0 25%, rgba(255, 255, 255, 0) 75%);
  }

  .scroll-styled-v::-webkit-scrollbar-track,
  .scroll-styled-h::-webkit-scrollbar-track {
    border-left: 1px solid #000;
  }
}
