.btd__no_bg_modal {
  .overlay,
  .ovl {
    background: rgba(0, 0, 0, 0.8) !important;
  }

  .js-modal-panel.mdl.s-full.med-fullpanel {
    background: transparent;
    pointer-events: none;
    box-shadow: none;
  }

  .js-mediatable .js-modal-panel .med-embeditem {
    top: 0;
    bottom: 0;
  }

  .js-mediatable .js-modal-panel .js-mediaembed,
  .mdl-btn-media {
    pointer-events: all;
  }
}
