.btd__show_verified :matches(.js-stream-item-content, .js-tweet) .item-img.btd-is-verified {
  position: absolute;

  &::before {
    content: "\f02a";
    font-family: "tweetdeckregular";
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    position: absolute;
    bottom: -5px;
    right: -5px;
    color: #55acee;
    width: 1em;
    height: 1em;
    font-size: 20px;
    z-index: 1;

    background-image: radial-gradient(circle 11px, white 50%, color(white a(0)) 51%);
  }
}

.btd__show_verified :matches(.js-stream-item-content, .js-tweet) .item-img.btd-is-verified:not(.btd-is-verified-mini) {
  height: 48px;
  width: 48px;
}

.btd__show_verified :matches(.js-stream-item-content, .js-tweet) .is-conversation .tweet-img.btd-is-verified:not(.btd-is-verified-mini) {
  width: 32px;
  height: 32px;
}

.btd__show_verified :matches(.js-stream-item-content, .js-tweet) .is-conversation .tweet-img.btd-is-verified:before {
  bottom: -7px;
  right: -8px;
}

.btd__show_verified .btd-is-verified-mini:before,
.btd__show_verified .btd-is-verified-mini .tweet-img:before {
  bottom: -5px;
  right: -3px;
  transform-origin: bottom right;
  transform: scale(.8);
  background-image: radial-gradient(20px, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0) 31%);
  background-position: 0px 1px;
}

.btd__show_verified .activity-header.has-source-avatar .btd-is-verified-mini {
  position: relative;
}
.btd__show_verified .activity-header.has-source-avatar .btd-is-verified-mini:before {
  top: 5px;
  bottom: auto;
}
