.btd__show_verified :matches(.js-stream-item-content, .js-tweet) .account-link.btd-is-verified .tweet-img,
.btd__show_verified :matches(.js-stream-item-content, .js-tweet) .item-img.btd-is-verified {
  position: relative;

  &::before {
    content: "\f02a";
    font-family: "tweetdeckregular";
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    bottom: -2px;
    right: 0;
    color: #55acee;
    width: 1em;
    height: 1em;
    font-size: 20px;
    z-index: 1;

    background-image: radial-gradient(circle 11px, white 50%, color(white a(0)) 51%);
  }
}

.btd__show_verified .btd-is-verified-mini:before,
.btd__show_verified .btd-is-verified-mini .tweet-img:before {
  bottom: -5px;
  right: -3px;
  transform-origin: bottom right;
  transform: scale(.8);
  background-image: radial-gradient(20px, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0) 31%);
  background-position: 0px 1px;
}
