.btd__slim_scrollbars :matches(.js-app-columns-container, .js-column-scroller) {
  .scroll-styled-v::-webkit-scrollbar {
    width: 3px;
  }

  .scroll-styled-h::-webkit-scrollbar {
    height: 3px;
  }

  .needs-scroll-bottom-offset.scroll-styled-h {
    bottom: 3px;
  }
}
