.btd__stars {
  .icon-favorite:before {
    content: "\f007"
  }

  .is-favorite .icon-favorite-toggle {
    color: #fab41e;
  }

  .sprite {
      display: inline-block;
      vertical-align: text-top;
      background-image: url('../../img/td_sprite_sheet_2013_@1x.png');
      background-repeat: no-repeat
  }

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .sprite {
          background-image: url('../../img/td_sprite_sheet_2013_@2x.png');
          background-size: 240px 160px;
          background-repeat: no-repeat
      }
  }
}
