.btd__stars {
  .icon-favorite::before,
  .icon-heart-filled:before {
    content: "\f007";
    font-family: "old_tweetdeckregular";
  }
  
  .tweet-action:hover .icon-favorite,
  .tweet-detail-action:hover .icon-favorite,
  .dm-action:hover .icon-favorite,
  .tweet-action:focus .icon-favorite,
  .tweet-detail-action:focus .icon-favorite,
  .dm-action:focus .icon-favorite,
  .tweet-action:active .icon-favorite,
  .tweet-detail-action:active .icon-favorite,
  .dm-action:active .icon-favorite,
  .tweet-action.is-selected .icon-favorite,
  .is-selected.tweet-detail-action .icon-favorite,
  .is-selected.dm-action .icon-favorite,
  .is-favorite .icon-favorite-toggle,
  .icon-favorite-color,
  .tweet-action:hover .icon-favorite {
    color: #fab41e;
  }

  .sprite {
    display: inline-block;
    vertical-align: text-top;
    background-image: url('../../img/td_sprite_sheet_2013_@1x.png');
    background-repeat: no-repeat
  }

  .heart-anim {
    display: none;
  }
  
  .tweet-action .icon, .tweet-detail-action .icon, .dm-action .icon, .tweet-action .Icon, .tweet-detail-action .Icon, .dm-action .Icon {
    &.icon-favorite,
    &.icon-favorite-toggle {
      margin-top: 1px;
    }
  }

  .icon-favorite.is-invisible {
    visibility: visible !important;
  }

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .sprite {
      background-image: url('../../img/td_sprite_sheet_2013_@2x.png');
      background-size: 240px 160px;
      background-repeat: no-repeat
    }
  }
}
