.btd-giphy-zone {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: 19;
  left: 200px;
  color: white;
  width: 270px;
  height: 100%;
  transform: translateX(-2px);
  pointer-events: none;
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 200ms;
  transition-timing-function: ease;
  display: flex;
  flex-direction: column;
}

.application.is-condensed .btd-giphy-zone {
  left: 50px;
}

.btd-giphy-zone.-visible {
  pointer-events: all;
  transform: translateX(0);
  opacity: 1;
}

.btd-giphy-zone .giphy-wrapper {
  flex: 1;
  flex-shrink: 1;
  font-size: 0;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 10px;
}

.btd-giphy-zone .giphy-wrapper .giphy-content {
  column-count: 2;
  column-gap: 0;
}

.btd-giphy-zone .giphy-wrapper .btd-giphy-block {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.btd-giphy-zone .giphy-wrapper .btd-giphy-block-wrapper {
  overflow: hidden;
}

.btd-giphy-zone .giphy-wrapper .btd-giphy-block-wrapper:hover {
  opacity: 0.6;
}

.btd-gif-indicator {
  transform: translateY(100%);
  opacity: 0;
}

@keyframes gradientSlide {
  from {
    background-position-x: 0;
  }

  to {
    /* 40px is the width of our rainbow bg */
    background-position-x: 40px;
  }
}

.btd-gif-button,
.btd-gif-indicator {
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;
  float: left;

  &.-visible {
    opacity: 1;
    transform: translateX(0);
  }
}

.btd-gif-button {
  font-weight: bold;
  font-size: 10px;
  border-radius: 3px;
  padding: 2px 6px;
  border: 1px solid currentColor;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 0;
  opacity: 0;
  transition-property: color, opacity;

  &.-visible {
    opacity: 1;
  }
}

input.giphy-search-input {
  box-sizing: border-box !important;
  color: #111;
}

.btd-gif-button.btd-gif-button:hover {
  color: #616161;
}

.btd-giphy-zone .giphy-zone-logo {
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  margin-left: -20px;
  margin-right: -20px;
  background-size: auto 15px;
}

.giphy-zone-logo {
  background-image: url('../img/giphy-logo-dark.png');
}

.js-media-added.is-hidden ~ .btd-gif-source-indicator {
  display: none;
}

.btd-gif-source-indicator {
  padding: 10px;
  padding-top: 4px;
  margin-top: -4px;
  border-radius: 0 0 4px 4px;
  background: white;
  display: flex;
  align-items: center;
}

.btd-gif-source-indicator .gif-provider {
  border-radius: 4px;
  width: 20px;
  height: 20px;
  background-size: 100%;
  margin: 0 0.2em 0 0.3em;

  &.giphy {
    background-image: url('../img/giphy-logo.png');
  }

  &.tenor {
    background-image: url('../img/tenor-logo.png');
  }
}
