/* Minimal themes + variations */

@import "./minimal.css";
@import "./theme-dark.css";
@import "./theme-light.css";

/* Visual Features */

@import "./features/actions.css";
@import "./features/bigger-emojis.css";
@import "./features/character-count.css";
@import "./features/collapse-dms.css";
@import "./features/flash-tweets.css";
@import "./features/gray-notif-icns.css";
@import "./features/hide-context.css";
@import "./features/hide-scrollbars.css";
@import "./features/hide-url-thumb.css";
@import "./features/collapse-columns.css";
@import "./features/no-col-icns.css";
@import "./features/no-bg-modal.css";
@import "./features/round-pic.css";
@import "./features/show-verified.css";
@import "./features/small-icns.css";
@import "./features/slim_scrollbars.css";
@import "./features/username-typeahead.css";
@import "./features/stars.css";
@import "./features/system-fonts.css";
@import "./features/show-provider-name.css";
@import "./features/hide-like-rt-indicators.css";

/* Emoji Panel */
@import "./emoji-panel.css";

/* G I P H Y */
@import "./giphy.css";

/* Embed/modals */

@import "./embeds.css";

html.btd-on {
  [data-btdtheme] .js-media-image-link {
    /* Future loading bg image */
  }

  [data-btdtheme] .video-overlay {
    display: none;
  }

  [data-btdtheme] .js-media[data-key] .js-media-image-link {
    background-color: white;
  }

  [data-btdtheme] .js-modal-panel .js-media-image-link {
    background-color: transparent;
  }

  [data-btdtheme] .js-media-preview-container.is-video a {
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &::after {
      background-color: black;
      border-radius: 50%;
      opacity: 0.75;
      z-index: 9;
      width: 40px;
      height: 40px;
      transform: translate(-50%, -50%);
    }

    &::before {
      z-index: 10;
      width: calc(40px * 80 / 100);
      height: calc(40px * 80 / 100);
      opacity: 0.8;
      transform: translate(-45%, -50%);
      background-image: url("../icons/controller-play.svg");
    }
  }

  .column-navigator-overflow,
  .column-navigator {
    bottom: 267px !important;
  }

  .app-navigator .with-nav-border-t:not(:first-of-type)::before {
    display: none;
  }

  .js-add-emojis .btd-emoji-icon::before {
    content: "\f438";
  }

  .js-add-emojis.padding-v--9.js-add-emojis {
    padding-top: 6px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-bottom: 5px !important;
  }

  .js-add-emojis.padding-v--9.js-add-emojis .btd-emoji-icon {
    font-size: 18px !important;
  }

  .btd__small_icns_compose
    .js-add-emojis.padding-v--9.js-add-emojis
    .btd-emoji-icon {
    transform: translateY(-2px);
  }

  .js-media-image-link,
  article video.js-media-gif {
    cursor: zoom-in !important;
  }

  .tweet-dogear {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    width: 24px;
    height: 24px;
    z-index: 9;
  }

  .is-retweet .tweet-dogear {
    visibility: visible;
    background-position: -170px -10px;
  }

  .is-favorite .tweet-dogear {
    visibility: visible;
    background-position: -140px -10px;
  }

  .is-retweet.is-favorite .tweet-dogear {
    background-position: -200px -10px;
  }

  div.youtube-player:matches(.-gfycat) {
    min-width: 700px;
  }

  iframe.imgur-album {
    max-height: 650px !important;
  }

  body :matches(.tweet-avatar, .prf-img, .avatar, .compose-account) {
    border-radius: 10% !important;
  }

  @media (max-height: 720px) {
    [data-btdtheme] .med-embeditem {
      top: 30px;
      bottom: 130px;
    }
  }

  .stream-item .is-video .reverse-image-search {
    pointer-events: none !important;
    display: none !important;
  }

  [data-action-id^="btd-banner"] {
    background-color: transparent;
    cursor: pointer;
  }

  [data-action-id^="btd-banner"],
  [data-action-id^="btd-banner"] a:hover {
    color: white;
  }

  .dropdown-menu .typeahead-item,
  .dropdown-menu [data-btd-action],
  .dropdown-menu [data-btd-filter] {
    display: block;
    padding: 5px 20px;
    color: #292f33;
    text-shadow: none;
    cursor: pointer;
    text-decoration: none;
  }

  .dropdown-menu .is-selected [data-btd-action],
  .dropdown-menu .is-selected [data-btd-filter] {
    color: #fff;
  }

  .btd-settings-btn .icon {
    color: #009cf0;
  }

  .tweet-detail .js-media.btd-media-thumbnail ~ .js-card-container {
    display: none;
  }

  .icon-download::before {
    content: "\F186";
  }

  .tweet-detail-actions.tweet-detail-actions {
    display: flex;
    padding-bottom: 8px;
  }

  .btd__old_replies {
    .quoted-tweet .js-reply-info-container,
    .tweet-body > div > .other-replies,
    .tweet-detail > div > .other-replies {
      font-size: 0;
      height: 0;
    }
  }

  .btd__old_replies
    .js-stream-item:not(.btd-is-retweet)
    .js-tweet:not(.txt-mute)
    .thread
    ~ .tweet-body,
  .btd__old_replies .js-stream-item .quoted-tweet {
    .other-replies::before {
      display: none;
    }
  }

  .btd__old_replies
    .js-stream-item:not(.btd-is-retweet)
    .js-tweet:not(.txt-mute)
    .tweet-body {
    .other-replies {
      font-size: 0;
      height: 0;
    }

    .other-replies::before {
      content: "\f151";
      position: absolute;
      font-family: "tweetdeckregular";
      left: 20px;
      font-size: 14px;
      z-index: 19;
      color: inherit;
      top: 47px;
    }
  }

  .js-modal.open-modal div.js-right-column.scroll-v {
    overflow-x: hidden;
  }

  .icon::before {
    -moz-osx-font-smoothing: grayscale;
  }

  .compose .compose-header .icon-close {
    margin-top: 14px !important;
    margin-bottom: 0 !important;
  }
}

.inline-reply .btn-square,
.rpl-actions .btn-square {
  /* remove effects from buttons under reply input... this keeps happening for some stupid reason */
  background: transparent !important;
  box-shadow: none !important;
}

.js-message-banner:not(.is-hidden) {
  padding: 6px 0;
}

.js-column-header .column-header-links {
  flex-shrink: 0 !important;
  max-width: none !important;
}

.js-column-header .column-header-title.width-p--85.column-header-title {
  width: auto !important;
  flex-shrink: 1 !important;
  overflow: hidden !important;
}

.btd__no_col_icns .js-column .column-title {
  margin-left: 10px !important;
}

.btd__replace_logo
  .application
  .app-title
  .visible-in-contracted-header
  .tweetdeck-logo {
  background-size: 24px;
  background-position: 50%;
  background-image: url("../img/btd-logo-small.png");
}

.btd__replace_logo .application .app-title .invisible-in-contracted-header {
  width: 100%;
  background-repeat: no-repeat;
  margin-top: 11px;
  height: 34px;
  background-size: contain;
  background-position: center center;
  background-image: url("../img/btd-logo.png");
}

.btd__replace_logo .application .app-title .invisible-in-contracted-header img {
  display: none;
}

html.dark .scroll-styled-h,
html.dark .scroll-styled-v {
  scrollbar-color: #3d5466 transparent;
}

html.dark body.btd__og_dark_theme .scroll-styled-h,
html.dark body.btd__og_dark_theme .scroll-styled-v {
  scrollbar-color: #657786 transparent;
}

html:not(.dark) .scroll-styled-h,
html:not(.dark) .scroll-styled-v {
  scrollbar-color: #e1e8ed transparent;
}
