@import './minimal.css';
@import './theme-dark.css';
@import './theme-light.css';

:root {
  /* Dark*/
  --compose-btn-bg-dark: #373839;
  --compose-btn-bg-dark-hover: color(var(--compose-btn-bg-dark) shade(20%));
  --main-bg-dark: #1d1e21;

  /* Light */
  --compose-btn-bg-light: #707375;
  --compose-btn-bg-light-hover: color(var(--compose-btn-bg-light) shade(20%));
  --main-bg-white: #ffffff;
}

.btd__round_pic :matches(.tweet-avatar, .prf-img, .avatar, .compose-account) {
  border-radius: 50%;
}

.btd__js-hidden {
  display: none !important;
}

.btd__no_col_icns .js-column-header {
  .column-type-icon {
    display: none;
  }

  h1.column-title {
      margin-left: 10px;
  }
}

.btd__no_play_btn .video-overlay.icon-with-bg-round {
  display: none;
}

.btd__gray_icns_notifs .activity-header .activity-indicator.icon {
  color: #999;
}

.btd__usrname_only_typeahed .typeahead-item {
  .fullname {
    display: none;
  }

  .username {
    color: #444;
  }
}

.btd__small_icns_compose {
  .js-add-image-button, .js-schedule-button, .js-tweet-type-button > button {
    width: auto !important;
    float: left !important;
    margin-right: 4px;

    .label {
      display: none;
    }
  }
}

.btd__hide_view_conversation .js-stream-item-content .link-complex[rel="viewDetails"] {
	display: none;
}

.btd__actions_on_right .js-stream-item .js-tweet-actions {
	float: right !important;
	width: auto !important;
}

.btd__actions_on_hover .js-stream-item .js-tweet-actions {
	opacity: 0 !important;
}

.btd__actions_on_hover .js-stream-item:hover .js-tweet-actions {
	opacity: 1 !important;
}


[data-btdtheme] .med-tweet {
  display: none;
}

[data-btdtheme] .dropdown-menu {
  z-index: 10;
}

[data-btdtheme] .js-media-image-link {
  /* Future loading bg image */
}
