/**
 * Closer columns
 */
.btd__minimal_mode .app-columns {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}
.btd__minimal_mode .column {
  margin-right: 2px !important;
}

/**
 * Transparent bg for items in navbar so we can change its bg easily
 */
.btd__minimal_mode .app-navigator,
.btd__minimal_mode .app-title {
  background-color: transparent;
}

.btd__minimal_mode .app-header,
.btd__minimal_mode .column-nav-item {
  background-color: color(#292F33 saturation(0%));
}


.btd__minimal_mode .dropdown-menu .is-selected {
  background-color: color(#55acee saturation(0%));
}

/**
 * No border betweet tweets + lighter divider between translation and original tweet
 */
.btd__minimal_mode :matches(.stream-item, .tweet-detail-reply .stream-item, .compose-header) {
  border-bottom: 0;
}
.btd__minimal_mode .in-tweet-divider:before {
  background: rgba(0, 0, 0, 0.13);
}

/**
 * Nicer modal styles
 */
.btd__minimal_mode :matches(.mdl-media-prev, .mdl-media-next) {
  background: transparent;
  z-index: 10;

  .icon {
    background: color(#151515 a(60%));
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin-left: -21px;
    margin-top: -21px;
  }

  .icon:before {
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}
.btd__minimal_mode :matches(.mdl-btn-media, .is-inverted-light .mdl-btn-media) {
  opacity: 1;
}
.btd__minimal_mode .media-img {
  max-width: 100% !important;
}
.btd__minimal_mode .med-embeditem {
  min-width: 600px;
  left: 50%;
  transform: translate(-50%, 0);
}

.btd__minimal_mode .med-tray {
  z-index: 9;
}

.btd__minimal_mode :matches(.column-header, .column-header-temp) {
  background-color: transparent;
  border-bottom: 0 !important;
}

.btd__minimal_mode :matches(.drawer .compose .btn-on-blue) {
  background-color: color(white alpha(15%));

  &:hover {
    background-color: color(white alpha(10%));
  }
}

.btd__minimal_mode :matches(.ovl, .overlay) {
  background: color(black a(80%));
}

.btd__minimal_mode.btd__no_scrollbars {
  .scroll-styled-v::-webkit-scrollbar-track,
  .scroll-styled-h::-webkit-scrollbar-track {
    border-left: 0;
  }

  .scroll-styled-h::-webkit-scrollbar {
    height: 0;
  }

  .needs-scroll-bottom-offset.scroll-styled-h {
    bottom: 0;
  }
}

.btd__minimal_mode {

  .med-fullpanel {
    box-shadow: none;
    background: transparent;
  }
}

.btd__minimal_mode .js-stream-item:not(.btd-is-retweet) .tweet-context {
  .obj-left {
    margin-top: 60px;
    margin-right: 0;
  }

  .icon-small-context {
    float: left;
    margin-left: 17px;
  }

  .icon-reply::before {
    content: "\f048";
  }

  .nbfc {
    display: none;
  }
}

.btd__minimal_mode .js-stream-item .activity-header + .txt-mute .tweet-context {
  display: none;
}
