:root {
  --compose-btn-bg-dark: #373839;
  --compose-btn-bg-dark-hover: color(var(--compose-btn-bg-dark) shade(20%));
}

html.btd-on [data-btdtheme="dark"].btd__minimal_mode {
  .drawer .compose .btn-on-blue {
    background-color: color(white alpha(15%));

    &:hover {
      background-color: color(white alpha(10%));
    }
  }

  .dropdown-menu {
    border: 1px solid hsl(210, 34%, 4%);

    .caret-outer {
      border-bottom: 7px solid hsl(210, 34%, 4%);
    }

    .caret-inner {
      border-bottom: 6px solid hsl(210, 34%, 16%);
    }
  }

  .dropdown-menu li > a,
  .dropdown-menu li > b,
  .typeahead.lst :matches(.fullname, .username, p) {
    color: rgb(193, 193, 193) !important;
  }

  .lst-modal.typeahead {
    box-shadow: none;
  }

  .dropdown-menu .drp-h-divider,
  .typeahead.lst li {
    border-bottom: 1px solid hsla(210, 6%, 18%, 1);
  }

  .dropdown-menu .is-selected,
  .typeahead.lst .s-selected {
    background-color: hsl(210, 34%, 10%) !important;
  }

  .dropdown-menu,
  .typeahead {
    background-color: hsl(210, 34%, 16%) !important;
  }

  .typeahead {
    border: 0;
  }

  .js-app-columns-container .js-column .tweet-timestamp > a {
    z-index: 1;
  }
}
