[data-btdtheme="dark"].btd__minimal_mode {
  .btn-compose {
    background-color: var(--compose-btn-bg-dark);

    &:hover {
      background-color: var(--compose-btn-bg-dark-hover);
    }
  }

  .attach-compose-buttons .tweet-button {
    background-color: var(--compose-btn-bg-dark-hover);
  }

  .drawer .compose, .inline-reply {
    background-color: var(--compose-btn-bg-dark-hover)
  }

  .reply-triangle {
    border-color: transparent transparent var(--compose-btn-bg-dark-hover) transparent;
  }

  .media-caret {
    border-color: #222426 transparent transparent transparent;
  }
}
