
[data-btdtheme="light"].btd__minimal_mode {
  .btn-compose {
    background-color: var(--compose-btn-bg-light);

    &:hover {
      background-color: var(--compose-btn-bg-light-hover);
    }
  }

  .app-columns-container {
    background-color: #cdcdcd;
  }

  .compose-text-title {
    color: #BFBFBF;
  }

  .tweet-timestamp > a {
    background-color: #fff;
    z-index: 1;
    box-shadow: -4px 0 3px #fff;
  }

  .dropdown-menu {
    box-shadow: 0 1px 5px 1px rgba(17,17,17,0.4);
  }

  .compose-account {
    background-color: #8C8C8C;
  }

  .attach-compose-buttons .tweet-button {
    background-color: var(--compose-btn-bg-light-hover);
  }

  .drawer .compose, .inline-reply {
    background-color: var(--compose-btn-bg-light-hover);
  }

  .reply-triangle {
    border-color: transparent transparent var(--compose-btn-bg-light-hover) transparent;
  }
}
