html.btd-on {
    .btd__custom_icons_feather {
        .icon {
            font-family: 'icons_feather'!important;
            -webkit-font-smoothing: antialiased!important;
            -moz-osx-font-smoothing: grayscale!important;
        }
    
        /* Compose tweet/message */
        .icon-compose:before,
        .icon-compose-dm:before {
            font-family: 'icons_feather'!important;
            content: '\e90a'!important;
        }

        /* Compose column avatar - Grid */
        .icon-compose-minigrid:before {
            font-family: 'icons_feather'!important;
            content: '\e90c'!important;
        }

        /* Compose column avatar - single */
        .icon-compose-grid:before {
            font-family: 'icons_feather'!important;
            content: '\e924'!important;
        }
    
        /* Search */
        .icon-search:before {
            font-family: 'icons_feather'!important;
            content: '\e919'!important;
        }
    
        /* Home */
        .icon-home:before {
            font-family: 'icons_feather'!important;
            content: '\e90e'!important;
        }
    
        /* Notification Bell */
        .icon-notifications:before {
            font-family: 'icons_feather'!important;
            content: '\e902'!important;
        }
    
        /* Activity */
        .icon-activity:before {
            font-family: 'icons_feather'!important;
            content: '\e900'!important;
        }
    
        /* User */
        .icon-user:before,
        .icon-user-dd:before {
            font-family: 'icons_feather'!important;
            content: '\e921'!important;
        }
    
        /* Users */
        .icon-user-switch:before {
            font-family: 'icons_feather'!important;
            content: '\e922'!important;
        }
    
        /* Add User */
        .icon-follow:before {
        font-family: 'icons_feather'!important;
            content: '\e920'!important;
        }
    
        /* Message */
        .icon-message:before {
            font-family: 'icons_feather'!important;
            content: '\e913'!important;
        }
    
        /* Right Chevron */
        .icon-arrow-r-double:before,
        .icon-arrow-r:before {
            font-family: 'icons_feather'!important;
            content: '\e906'!important;
        }
    
        /* Left Chevron */
        .icon-arrow-l-double:before,
        .icon-arrow-l:before {
            font-family: 'icons_feather'!important;
            content: '\e905'!important;
        }
    
        /* Settings */
        .icon-settings:before {
            font-family: 'icons_feather'!important;
            content: '\e91a'!important;
        }
    
        /* Settings Slider */
        .icon-sliders:before {
            font-family: 'icons_feather'!important;
            content: '\e915'!important;
        }
    
        /* Add */
        .icon-plus:before {
            font-family: 'icons_feather'!important;
            content: '\e917'!important;
        }
    
        /* Minus */
        .icon-minus:before {
            font-family: 'icons_feather'!important;
            content: '\e914'!important;
        }
    
        /* X (Close) */
        .icon-close:before {
            font-family: 'icons_feather'!important;
            content: '\e923'!important;
        }
    
        /* Info */
        .icon-info:before {
            font-family: 'icons_feather'!important;
            content: '\e910'!important;
        }
    
        /* Images */
        .icon-image:before {
            font-family: 'icons_feather'!important;
            content: '\e90f'!important;
        }
    
        /* Camera */
        .icon-camera:before {
            font-family: 'icons_feather'!important;
            content: '\e903'!important;
        }
    
        /* Trending */
        .icon-trending:before {
            font-family: 'icons_feather'!important;
            content: '\e91e'!important;
        }
        
        /* Copy | Collections */
        .icon-custom-timeline:before {
            font-family: 'icons_feather'!important;
            content: '\e908'!important;
        }
    
        /* List */
        .icon-list:before, 
        .icon-content:before,
        .icon-compose-list:before {
            font-family: 'icons_feather'!important;
            content: '\e911'!important;
        }

        /* Twitter bird/logo */
        .icon-twitter-bird:before {
            font-family: 'icons_feather'!important;
            content: '\e91f'!important;
        }
    
        /* Schedule | Clock */
        .icon-schedule:before {
            font-family: 'icons_feather'!important;
            content: '\e907'!important;
        }
    
        /* Clear | Trash */
        .icon-clear-timeline:before {
            font-family: 'icons_feather'!important;
            content: '\e91d'!important;
        }
    
        /* Check | Tick */
        .icon-check:before,
        .icon-mark-read:before {
            font-family: 'icons_feather'!important;
            content: '\e904'!important;
        }
    
        /* External Link | Open in new tab */
        .icon-popout:before {
            font-family: 'icons_feather'!important;
            content: '\e90b'!important;
        }
    
        /* Mention */
        .icon-mention:before {
            font-family: 'icons_feather'!important;
            content: '\e901'!important;
        }
    
        /* Video Play Button */
        .icon-play-video:before {
            font-family: 'icons_feather'!important;
            content: '\e916'!important;
        }
    
        /* Lock | Protected */
        .icon-protected:before {
            font-family: 'icons_feather'!important;
            content: '\e912'!important;
        }
    
        /* Share button */
        .icon-share:before {
            font-family: 'icons_feather'!important;
            content: '\e91b'!important;
        }
    
        /* Reply */
        .icon-reply:before {
            font-family: 'icons_feather'!important;
            content: '\e909'!important;
        }
    
        /* Retweet */
        .icon-retweet:before {
            font-family: 'icons_feather'!important;
            content: '\e918'!important;
        }
    
        /* Favourite */
        .icon-favorite:before {
            font-family: 'icons_feather'!important;
            content: '\e90d'!important;
        }
    
        /* More - Horizontal */
        .icon-more:before {
            font-family: 'icons_feather'!important;
            content: '\e915'!important;
        }
    }
}

/* Alignment fixes */
.column-header .column-type-icon {
    margin-top: 2px!important;
}
