/* Styling for circled avatars */
.btd-circle-avatars img.tweet-avatar {
	-webkit-border-radius:50%;
	border-radius:50%;
}

.btd-circle-avatars a.js-account-item.js-show-tip.compose-account, .btd-circle-avatars a.js-account-item.js-show-tip.compose-account img {
	-webkit-border-radius:50%;
	border-radius:50%;
}

/* Nice opacity fading animation on tweet hover */
.btd-profile-pictures-fading .tweet-avatar {
	opacity:.6;
	-webkit-transition: opacity .4s ease;
	transition: opacity .4s ease;
}

.btd-profile-pictures-fading article.stream-item:hover .tweet-avatar {
	opacity:1;
}
 
/* Reduced the paddings/margins of columns */
.btd-reduced-padding .js-column.column {
	margin-right: 3px;
}

/* No icons in columns header */
.btd-no-columns-icons header > i.column-type-icon.icon {
	display:none;
}

.btd-no-columns-icons header > h1.column-title {
	padding-left: 10px;
}

/* Style for grayscale icons */
.btd-grayscale-notification-icons i.icon.activity-indicator {
	color: #737373;
}

/* Don't display thumbnails that aren't the first thumbnails of the tweet (because TweetDeck display duplicates thumbnails sometimes, and that's annoying) */
.btd-one-thumbnail .js-media-preview-container:not(:first-of-type) {
	display: none;
}

#btd-modal-dismiss {
	height: 100%;
	width: 100%;
	position: absolute;
	display: block;
	top:0;
}

#open-modal .btd-preview {
	display: none;
}

.btd-preview + .js-media.media-preview {
	display: none;
}

.btd-preview + .item-box-full-bleed {
	display: none;
}

/* Blurred modals */
.btd-blurred-modals #open-modal[style*="block"] .med-fullpanel {
	background-color:transparent;
}

.btd-blurred-modals .btd-blurred-dismiss {
	width: 100%;
	height: 100%;
	position: absolute;
} 

.btd-blurred-modals .js-app-content.app-content, .btd-blurred-modals header.js-app-header {
	transition: all .42s ease;
	-webkit-filter: blur(0) saturate(100%);
	-webkit-transform: translateZ(0) scale(1);
}

.btd-blurred-modals .js-app-content.app-content {
	-webkit-transform-origin:50% 50%;
}

.btd-blurred-modals.btd-modal-opened .js-app-content.app-content, .btd-blurred-modals.btd-modal-opened header.js-app-header {
	-webkit-filter: blur(4px) saturate(0);
}

.btd-blurred-modals.btd-modal-opened .js-app-content.app-content {
	-webkit-transform: translateZ(0) scale(1.1);
}

.btd-blurred-modals.btd-modal-opened header.js-app-header {
	-webkit-transform: translateZ(0) scale(1);
}

.btd-blurred-modals.btd-modal-opened input#file-upload-input {
	display: none;
}

.btd-blurred-modals.btd-modal-opened .mdl {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btd-modal-opened .js-modal-panel > div:not(.btd-blurred-dismiss) {
	z-index:1;
}