/* Styling for circled avatars */
.btd-circle-avatars img.tweet-avatar {
	-webkit-border-radius:50%;
	border-radius:50%;
}

.btd-circle-avatars a.js-account-item.js-show-tip.compose-account, .btd-circle-avatars a.js-account-item.js-show-tip.compose-account img {
	-webkit-border-radius:50%;
	border-radius:50%;
}

/* Hiding droplr previews because of Twitter Cards */
.tweet-detail .btd-preview.droplr {
	display: none;
}

.tweet-detail .btd-preview.flickr {
	display:none;
}

/* Nice opacity fading animation on tweet hover */
.btd-profile-pictures-fading .tweet-avatar {
	opacity:.6;
	-webkit-transition: opacity .4s ease;
	transition: opacity .4s ease;
}

.btd-profile-pictures-fading article.stream-item:hover .tweet-avatar {
	opacity:1;
}
 
/* Reduced the paddings/margins of columns */
.btd-reduced-padding .js-column.column {
	margin-right: 3px;
}

/* No icons in columns header */
.btd-no-columns-icons header > i.column-type-icon.icon {
	display:none;
}

.btd-no-columns-icons header > h1.column-title {
	padding-left: 10px;
}

/* Style for grayscale icons */
.btd-grayscale-notification-icons i.icon.activity-indicator {
	color: #737373;
}