body,
#root,
html {
  width: 100%;
  height: 100%;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --settings-modal-background: #101a27;
  --settings-modal-menu-item-selected: #2e465c;
  --settings-modal-menu-item-hover: #293e52;
  --settings-modal-text: white;
  --settings-modal-separator: rgb(0, 0, 0);
  --twitter-blue: #1da1f2;
  --twitter-darkblue: #005fd1;
  --twitter-input-bg: #0d1118;
  --twitter-input-placeholder: #8899a6;
  --twitter-input-border-color: #14171a;
}

.btd-settings-modal.light {
  --twitter-input-bg: white;
  --twitter-input-placeholder: #8899a6;
  --twitter-input-border-color: #e1e8ed;
}

.btd-settings-modal {
  color: var(--settings-modal-text);
  width: 100%;
  background-color: var(--settings-modal-background);
  display: grid;
  height: 100%;
  grid-template-areas:
    'header   header'
    'sidebar  content'
    'footer   footer';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  border-radius: 0;
  position: absolute;

  font-family: system-ui;

  box-shadow: 0 1px 0 black, 0 4px 16px rgba(0, 0, 0, 0.6);
}

.btd-settings-button {
  border-radius: 100px;
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  outline: none;
  border: 1px solid;
  padding: 3px 12px;
  cursor: pointer;
}

.btd-settings-button.primary {
  color: white;
  background-color: var(--twitter-blue);
  border-color: var(--twitter-blue);

  &:hover {
    background-color: var(--twitter-darkblue);
    border-color: var(--twitter-darkblue);
  }

  &[disabled],
  &.disabled {
    opacity: 0.7;
    pointer-events: none;
  }
}

.btd-settings-button.secondary {
  color: var(--twitter-blue);
  background-color: transparent;
  border-color: var(--twitter-blue);

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.btd-settings-content {
  grid-area: content;
  overflow: auto;
}

.btd-settings-content > div:last-child {
  margin-bottom: 40px;
}

.btd-settings-footer {
  grid-area: footer;
  padding: 10px;
  border-top: 1px solid var(--settings-modal-separator);

  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
}

.btd-settings-footer-label {
  font-size: 14px;
  margin-right: 10px;
  color: var(--twitter-blue);
  opacity: 0.8;
}

.btd-settings-header {
  grid-area: header;
  padding: 20px;
  font-size: 20px;
  text-align: center;

  border-bottom: 1px solid var(--settings-modal-separator);
}

/**
 * Sidebar
 */

.btd-settings-sidebar {
  grid-area: sidebar;
  min-width: 200px;
  max-width: 300px;
  border-right: 1px solid var(--settings-modal-separator);
}

.btd-settings-sidebar ul {
  list-style: none;
}

.btd-settings-sidebar ul li,
.btd-settings-sidebar ul li .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btd-settings-sidebar ul li {
  user-select: none;
  display: grid;
  grid-template-areas: 'icon text';
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  padding: 15px 10px;
  cursor: pointer;

  &.active {
    background-color: var(--settings-modal-menu-item-selected);
  }

  &:hover {
    background-color: var(--settings-modal-menu-item-hover);
  }
}

.btd-settings-sidebar ul li .icon {
  grid-area: icon;
  width: 20px;
  height: 20px;
  color: currentColor;
  background: grey;
}

.btd-settings-sidebar ul li .icon svg {
  max-width: 20px;
  max-height: 20px;
}

.btd-settings-sidebar ul li .text {
  grid-area: text;
}
